label {
    font-family: Helvetica;
    text-align: center;
  }

div {
  width: 80%;
  margin: auto;
  padding: auto;
  text-align: center;
}
  
textarea {
  font-size: 25px;
  margin: 2em;
  width: 80%;
  height: 150px;
  display: block;
}
  
p {
  font-size: 26px;
}